---
name: Infrastructure Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: [self-hosted, rhel8]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: terraform
        run: terraform validate

  ansible:
    needs: terraform
    runs-on: [self-hosted, rhel8]

    steps:
      - uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo dnf install -y epel-release
          sudo dnf install -y ansible

      - name: Run STIG hardening
        working-directory: Ansible
        run: ansible-playbook STIG_playbook.yml
