---
- name: Ansible Playbook to automate large-scale STIG compliance on RHEL 8
  hosts: rhel8_hosts
  gather_facts: true
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3.9
  roles:
    - RHEL8_STIG