---
# R-256974 RHEL-08-010358
- name: Ensure mailx package is installed
  ansible.builtin.yum:
    name: mailx
    state: present
  tags: mailx

# R-230266 RHEL-08-010372
- name: Set kernel.kexec_load_disabled = 1
  ansible.builtin.sysctl:
    name: kernel.kexec_load_disabled
    value: 1
    state: present
    reload: yes
  tags: kexec

# R-230233 RHEL-08-010130
- name: Set SHA_CRYPT_MIN_ROUNDS in /etc/login.defs
  ansible.builtin.lineinfile:
    path: /etc/login.defs
    regexp: '^#?\s*SHA_CRYPT_MIN_ROUNDS'
    line: 'SHA_CRYPT_MIN_ROUNDS 100000'
  tags: sha

# R-230364 RHEL-08-020180
- name: Set minimum password lifetime of 1 day for users
  block:
    - name: Define users
      ansible.builtin.set_fact:
        specific_users:
          - alice
          - bob
          - ryan

    - name: Run chage on users
      ansible.builtin.command: chage -m 1 {{ item }}
      loop: "{{ specific_users }}"
  ignore_errors: yes
  tags: minpw

# R-230279 RHEL-08-010423
- name: Ensure init_on_free=1 exists in GRUB  
  block:
    - name: Backup /etc/default/grub
      ansible.builtin.copy:
        src: /etc/default/grub
        dest: "/etc/default/grub.bak.{{ ansible_date_time.iso8601 }}"
        remote_src: yes

    - name: Check if init_on_free=1 is already set
      ansible.builtin.shell: 'grep -qE "GRUB_CMDLINE_LINUX=.*\binit_on_free=1\b" /etc/default/grub'
      register: init_on_free_check
      failed_when: false

    - name: Change value to 1 if it has a value other than 1
      ansible.builtin.replace:
        path: /etc/default/grub
        regexp: '^(GRUB_CMDLINE_LINUX=".*?\b)init_on_free=\d+(.*)"$'
        replace: '\1init_on_free=1\2"'
      register: init_enforce
      notify: grub_regenerate

    - name: Append init_on_free=1 if it does not exist
      ansible.builtin.replace:
        path: /etc/default/grub
        regexp: '^(GRUB_CMDLINE_LINUX=".*)(?<!init_on_free)(?=.*)"$'
        replace: '\1 init_on_free=1"'
      register: init_append
      when: not init_on_free_check.rc == 0 and not init_enforce.changed
      notify: grub_regenerate

#    - name: Regenerate GRUB configuration if changes were made to the file
#      notify: grub_regenerate
#      when: init_enforce.changed or init_append.changed
  tags: init

# R-251707 RHEL-08-010331
- name: Set permissions to 755 on system library directories
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
    state: directory
  loop:
    - /lib
    - /lib64
    - /usr/lib
    - /usr/lib64
  tags: syslib